// * gruvbox-colors.styl

// ** A theme based of the gruvbox color scheme

base03 = #3C474D
base02 = #323D43
base01 = #A7C080
base00 = #D9BB80
base0 = #89BEBA
base1 = #87C095
base2 = #868D80
base3 = #D8CAAC
yellow = #D9BB80
orange = #CB8A6D
red = #E68183
magenta = #D3A0BC
violet = #858377
blue = #89BEBA
cyan = #87C095
green = #A7C080
