// * gruvbox-dark.styl

@require colors

// ** Colors
color-a = green
color-a-visited = cyan

color-background = bg0
color-background-highlight = bg1
color-background-highlight-extra = bg4
color-background-highlight-extra-less = bg3
color-background-highlight-extra-less-less = bg2
color-background-highlight-tad-extra = lighten(color-background, 2%)


color-border = bg3
color-text = fg
comment = grey

emphasized = yellow
emphasized-more = orange
emphasized-more-more = red

button-gradient-top = color-background-highlight-extra
button-gradient-bottom = color-background-highlight-extra
